
@{
    ViewBag.Title = "Product View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="border p-3" id="form-detail">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách Sản phẩm</h6>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="callDivInsert()">Thêm sản phẩm mới</button>
        </div>
        <div class="card-body">
            <div id="grid_ListAll_Product"></div>
        </div>
        <div id="editDetails"></div>
        <div id="deleteDetails"></div>
    </div>
</div>
@* Div thông tin *@
<div class="border p-3" id="form-info">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thêm nhân viên mới</h6>
        </div>
        <div class="form" id="form">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">
                            Tên sản phẩm:
                            <i class="fas fa-exclamation-circle" id="checkErrorImageProductName"></i>
                            <small id="checkErrorMessageProductName"></small>
                        </label>
                        <input class="form-control" id="txtProductName" placeholder="Tên nhân viên">
                    </div>
                    <div class="form--group col-md-4">
                        <label for="inputPassword4">
                            Nhà sản xuất:
                        </label>
                        <select id="ddlProducer" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">
                            Nội dung:
                            <i class="fas fa-exclamation-circle" id="checkErrorImageContent"></i>
                            <small id="checkErrorMessageContent"></small>
                        </label>
                        <input type="email" class="form-control" id="txtContent" placeholder="Nhập nội dung">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="">
                            Số lượng tồn:
                            <i class="fas fa-exclamation-circle" id="checkErrorImageQuantityInStock"></i>
                            <small id="checkErrorMessageQuantityInStock"></small>
                        </label>
                        <input class="form-control" id="txtQuantityInStock">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Ảnh 1:</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Ảnh 2:</label>
                        <input class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputProvince">Ảnh 3:</label>
                        <input class="form-control">
                    </div>
                </div>
                <hr />
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Đăng ký
                </button>
                <button onclick="BackSearch()" class="btn btn-danger">Quay lại</button>
            </div>
        </div>
    </div>
</div>
@* Xoá *@
<script type="text/x-kendo-template" id="templateDelete">
    <div id="details-container">
        <label>Bạn có chắc muốn xoá sản phẩm có mã là: #= ID# và tên: #= Name #?</label>
        <hr />
        <button onclick="Delete(2,0)" class="btn btn-secondary">Huỷ</button>
        <button onclick="Delete(1, #=ID#)" class="btn btn-danger">Xoá</button>
    </div>
</script>
<script src="~/Areas/Admin/Style/Admin/vendor/jquery/jquery.min.js"></script>
<script src="~/Areas/Admin/Scripts/ProductJS.js"></script>
