
@{
    ViewBag.Title = "Product View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="border p-3" id="form-detail">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách Sản phẩm</h6>
        </div>
        <div class="card-body">
            <div id="grid_ListAll_Product"></div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Style/Admin/vendor/jquery/jquery.min.js"></script>
<script src="~/Areas/Admin/Scripts/ProductJS.js"></script>